{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <!-- Using play CDN of tailwindcss to quickly prototype. Do not use in production. -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<main>
    <form>
        <label for="manifest-url">Manifest Url</label>
        <input id="manifest-url" type="url" name="manifest-url">
        <button type="submit">Submit</button>
    </form>
</main>
   
</body>

</html>
